.singleReview {
    border-radius: 20px;
    background-color: rgba(135, 206, 250, 0.781);
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.btn {
    display: flex;
    justify-content: center;
}